/*#footer{
    padding: 0px;
    margin:0px;
    font-family: segoe ui light;
    background: #D7CACA;
}*/
.container{
    /*max-width: 1400px;*/
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: #D5CECE;
}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;

}
.footer{
    background:#D6D2D2;
    color: #FFFFFF;
    font-size: 14px;
    padding: 40px 0 20px;
    margin-bottom: 10px;
}
.footer p{
    /*color: #FFFFFF;*/
    background-color: #fff;
}
.footer h3{
    /*color: #FFFFFF;*/
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 30px;
}
.footer-col-1{
  flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 30px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul {
  text-decoration: none;
  list-style-type: none;
  font-family: 'Times New Roman', Times, serif;
}

.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copy {
    text-align: center;
}

.menu-icon {
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px){
    nav ul {
        /*position: absolute;*/
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
      
    }
    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 20px;
        margin-bottom: 50px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}